* {box-sizing:border-box;}

body {
  font: $mainFont;
  background: $backgroundColor;
  color: $typeDefault;
  margin: 0; padding: 0;
}

h1,h2,h3,h4,h5,h6 {
 font: $headFont;
 color: $headColor;
 margin-top: 1.4em;
}

h1.top, h2.top, h3.top {
  margin-top: 0;
}

strong {
  font-weight: $bold;
}

p {
  font-weight: $normal;
  margin-bottom: .8em;
}

/* heart bullets */
.fa-ul.hearts i {
  color: $wewak;
}