* {box-sizing:border-box;}

body {
  font: $mainFont;
  background: $backgroundColor;
  color: $typeDefault;
  margin: 0; padding: 0;
}

h1,h2,h3,h4,h5,h6 {
 font: $headFont;
 color: $darkBlueFaded;
 margin-top: 1.4em;
}

h1.top, h2.top, h3.top {
  margin-top: .4em;
  
  @include deviceBreakpoint(small) {
    margin-top: .8em;
  }
}

p {
  font-weight: $normal;
  margin-bottom: .8em;
}

a {
  color: $darkGreen;
  
  &:hover {
    color: darken($darkGreen, 10);
  }
  &:active {
    color: lighten($darkGreen, 10);
  }
}

strong {
  font-weight: $bold;
}



/*tel link*/
a[href^=tel] {
  color: inherit;
  @include deviceBreakpoint(small) {
    text-decoration: none;
  }
}

/* heart bullets */
#mainContent {
  ul {
    list-style-type: none;
    margin: 0; padding: 0 0 0 1em;
    
    li {
      position: relative;
      padding-left: 1.4em;
      margin-bottom: .4em;
      line-height: 1.4;
    }
    
    li:before {
      font-family: "FontAwesome";
      content: "\f18e";
      position: absolute;
      left: 0;
      color: $darkBlueFaded;
    }
  }
}

/* style classes */
.callout {
  padding: 1em;
  border-radius: 5px;
  background: $darkGreen;
  color: $light;
  font-family: $sansfont2;
  font-size: .9em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
  .callout em {
    font-style: normal;
  }