//hide elements on mobile here in an accessible manner
//grouping selectors here since @extend doesn't work in media queries
@include deviceBreakpoint(mobile) {
  .mHide, header p, #mainNav, #mainBanner {
    @include visuallyhidden;
  }
  //.desktop, #mobileNav {max-height: 0; overflow: hidden; transition: .7s max-height ease-out;}
  //#mobileNav.visible {max-height: 20em;}
  
  .desktop, #mobileNav {height: 1px; opacity: 0; overflow: hidden; transition: .7s opacity ease-out;}
  #mobileNav.visible {height: auto; opacity: 1;}
}//mobile breakpoint

#wrapB {position: relative;}
#wrapB #sunLoader {position: absolute; top: 0; left: 50%; transform: translateX(-50%); z-index: 10;}

h1.top {
  margin: .4em 0 .6em 0;
  font-size: 1.6em;
  font-weight: $normal;
  line-height: 1.2;
}
h2 {font-size: 1.3em;}

@include deviceBreakpoint(small) {
  .mobile, #navToggle, #mobileNav {
    display: none;
  }
}//small breakpoint

body {
  background: $light;
  overflow-x: hidden;
}

#wrapB {padding: 1em $mobilePadding;}

@include deviceBreakpoint(small) {
  body {
    background: #FADBB3 url("../img/debut-dark.png") top left repeat;
  }
  #mainBackground {padding: 0 2%; position: relative; z-index: 0;}
  #mainWrap {
    position: relative;
  	@include container();
  	background: rgba(73, 155, 255, 0.7);
  	border-left: 2px solid $lightBlue;
  }
  #wrapA {
  	@include span(5 of 16);
  	padding: 0;
  }
  #wrapB {
  	@include span(11 of 16);
  	background: #fff;
  	padding: 0;
  	box-shadow: -.2125em 0 .3em rgba(0,0,0,0.1),
  	            .2125em 0 .3em rgba(0,0,0,0.1);
    z-index: 10;
  }
  #mainContent {
    padding: 1em 5%;
    
    h1 {
      margin-top: .8em;
      font-size: 2em;
    }
  }
}//small breakpoint

@include deviceBreakpoint(medium) {
  #wrapA {
  	@include span(4 of 16);
  	padding: 0;
  }
  #wrapB {
  	@include span(12 of 16);
  	padding: 0;
  }
  #mainContent {
    padding: 1em 7%;
    font-size: 1.1em;
  	line-height: 1.6;
  }
  
}//medium breakpoint

@include deviceBreakpoint(large) {
  body {
    background: #FADBB3 url("../img/debut-dark.png") 50% 0 repeat;
    background-size: auto;
  }
  
  #mainBackground {
    background: url("../img/sunrise2.jpg") 50% 0 no-repeat;
    background-size: 100% auto;
    //transform: translate3d(0,0,0); //tried to improve parallax performance but breaks pinned nav
  }
  
  #mainContent {
    h1.top {
      margin: .4em 0 .6em 0;
      font-size: 2.8em;
      font-weight: $normal;
      line-height: 1.2;
    }
  }
}//large breakpoint

@include deviceBreakpoint(xlarge) {
  body {
    font-size: 1.2em;
  }
}