/* keyframes for animation;  simple 0 to 360 */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

// bower:scss
@import "bower_components/susy/sass/_susy.scss";
// endbower

//Core Partial
@import "variables";
@import "mixins";
@import "base";
@import "layout";
@import "reuse-elem";
@import "print";

//Import Modules
@import "modules/header";
@import "modules/nav";
@import "modules/banners";
@import "modules/home";
@import "modules/hours";
@import "modules/questions";
@import "modules/about";
@import "modules/contact";
@import "modules/footer";



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
