#mainBanner {
    @include deviceBreakpoint(small) {
        height: 12em;
        position: relative;
        background: url("../img/home-main.jpg") 50% 50% no-repeat;
        background-size: cover;
        
        p {
            width: 100%;
            margin: 0;
            padding: .7em 2% .7em $mobilePadding;
            @include deviceBreakpoint(medium) {
                padding: .7em 2% .7em 7%;
            }
            position: absolute;
            left: 0; bottom: 0;
            background: rgba($brown, 0.7);
            color: darken($light, 5);
            font-size: .5em;
            @include deviceBreakpoint(medium) {
                font-size: .6em;
            }
            @include deviceBreakpoint(large) {
                font-size: .7em;
            }
            font-family: $sansfont2;
            line-height: 1.5;
            letter-spacing: .07em;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        }
    }//small breakpoint
}//mainBanner

#bottomBanner {
    @include deviceBreakpoint(mobile) {
        margin-left: -($mobilePadding + 1%);
        margin-right: -($mobilePadding + 1%);
    }
    padding: 1em 0 .7em 0;
    @include deviceBreakpoint(small) {
        padding: 1em 7% .7em 7%;
    }
    
    background-image: url("../img/asfalt-light.png");
    background-color: $darkBlue;
    color: $light;
    
    @extend %clearfix;
    
    $vPad: .7em;
    
    .imgWrap {
        width: 50%;
        @include deviceBreakpoint(small) {
            width: 30%;
            margin-right: 3%;
        }
        @include deviceBreakpoint(medium) {
            width: 20%;
        }
        padding-right: $vPad;//set above
        float: left;
        text-align: right;
    }
        img:not(.other) {
            border: 3px solid darken($light, 20);
            border-radius: 50%;
            max-width: 100%;
            @include deviceBreakpoint(mobile) {
                height: 75px;
            }
        }
    .cWrap {
        width: 50%;
        padding-left: $vPad;
        @include deviceBreakpoint(small) {
            width: 65%;
        }
        float: left;
    }
    h2 {
        margin: .7em 0 .2em 0;
        color: $light;
        font-size: 1.3em;
    }
    p:first-of-type {
        margin-top: .2em;
        @include deviceBreakpoint(small) {
            margin-top: .4em;
        }
    }
    a {color: darken($light, 15);
        &:hover {
            color: $light;
        }
        &:active {
            color: $lightGreen;
        }
    }
}