#bottomBanner {
    margin-left: -($mobilePadding + 1%);
    margin-right: -($mobilePadding + 1%);
    padding: 1em 0 .7em 0;
    
    background-image: url("../img/asfalt-light.png");
    background-color: $darkBlue;
    color: $light;
    
    @extend %clearfix;
    
    .imgWrap {
        width: 50%;
        padding-right: 1em;
        float: left;
        text-align: right;
    }
        img:not(.other) {
            border: 3px solid $darkGreen;
            border-radius: 50%;
        }
    .cWrap {
        padding-left: 1em;
        float: left;
    }
    h2 {
        margin: .7em 0 .2em 0;
        color: $light;
    }
    p:first-of-type {
        margin-top: .4em;
    }
    a {color: lighten($lightGreen, 15);
        &:hover {
            color: $lightGreen;
        }
        &:active {
            color: lighten($lightGreen, 30);
        }
    }
}