footer {
    padding: 1em 3% 0 3%;
    @include deviceBreakpoint(small) {
        padding-top: 0;
        background: darken($darkBlue,20);
        color: darken($light, 20);
    }
    color: lighten($dark, 20);
    text-align: center;
    
    .credit {
        margin-bottom: .3em;
    }
    
    a {
        color: inherit;
    }
    
    @include deviceBreakpoint(small) {
        @extend %clearfix;
        font-size: .7em;
        line-height: 1.5;
        
        .copyright {
            width: 50%;
            float: left;
            text-align: left;
        }
        .credit {
            width: 50%;
            float: right;
            text-align: right;
        }
    }//small breakpoint
    
    @include deviceBreakpoint(medium) {
        font-size: .8em;
    }
}