header {
    position: relative;
    background: $darkBlue url("../img/home-main.jpg") 50% 70% no-repeat;
    background-size: 100% auto;
    @include mobilePadding(10px, 5px);
    
    
    .multiplebgs & {
        background: url("../img/home-main.jpg"),
                    url("../img/asfalt-light.png"),
                    darken($darkBlue, 10);
        background-size: 100% auto, auto;
        background-position: 50% 70%, top left;
        background-repeat: no-repeat, repeat;
        
        //this media param pulls in a string
        @media (#{$wideMobile}) {
            background: url("../img/home-main.jpg");
            background-size: cover;
            background-position: 50% 0;
            background-repeat: no-repeat;
            border-bottom: 3px solid darken($light, 30);
            box-shadow: inset 0 -3px 7px rgba(0,0,0,0.5); 
        }//breakpoint
    }//.multiplebgs header
    
    @include deviceBreakpoint(small) {
        #wrapA & {
            margin-bottom: 2em;
            padding: 0;
            background: none;
            border: none;
            box-shadow: none;
        }
    }//small breakpoint
    
    h1 {
        width: 40%;
        max-width: 160px;
        margin: 0; padding: 0;
        border: 3px solid $lightGreen;
        border-radius: 5px;
        @media (#{$wideMobile}) {
            border-radius: 10px;
        }
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        
        @include deviceBreakpoint(mobile) {
          @include image-replace;  
        }//mobile breakpoint
        
        @include deviceBreakpoint(small) {
            width: auto;
            padding: 1em 8% 0 8%;
            border: none;
            box-shadow: none;
            
            font-size: 2.7em;
            font-weight: $normal;
            line-height: 1.2;
        }//small breakpoint
        
        a {
            background-image: url("../img/logo.jpg");
            display: block;
            padding-top: 75%;
            background-size: cover;
            background-position: center;  /* Internet Explorer 7/8 */
            
            @include deviceBreakpoint(small) {
                background: none;
                padding: 0;
                color: $light;
                text-decoration: none;
                
                &:hover {
                    color: lighten($lightGreen, 40);
                }
                
                span {
                    display: block;
                    font-size: .7em;
                    font-style: italic;
                    text-transform: lowercase;
                }
            }// small breakpoint
        }//a
    }//h1
    
    p {
        margin-top: 1.3em;
        padding: 0 5% 0 8%;
        color: $light;
        font-size: .8em;
        font-style: italic;
        
        @include deviceBreakpoint(large) {
            margin-top: .9em;
            font-size: 1em;
        }
    }
    
    @include deviceBreakpoint(small) {
        .sun { 
        	position: absolute; 
        	width: 490px; 
        	height: 490px; 
        	top: -227px; right: -191px;
            
            .core { 
            	width: 80px; 
            	height: 80px; 
            	background-color: #E8E87A; 
            	display: block;
            	border-radius: 50%;
            	position: absolute; 
            	top: 205px; left: 205px;
            }
            .rays	{
            	background: url("../img/rays.png") 0 0 no-repeat;
            	opacity: .3;
            	position: absolute; 
            	top: 0; 
            	left: 0; 
            	width: 490px; 
            	height: 490px;
            	z-index: -1;
            	
            	/* microsoft ie */
            	animation-name: spin; 
            	animation-duration: 100000ms; /* 40 seconds */
            	animation-iteration-count: infinite; 
            	animation-timing-function: linear;
            	
            	&:hover {
            	/* animation-duration: 10000ms; 10 seconds - speed it up on hover! */
            	/* resets the position though!  sucks */
                }
            }//rays
        }//sun
    }//small breakpoint
    
    #navToggle {
        @include abs-pos(10px, 5%);
        color: darken($light, 10);
        text-decoration: none;
        font-family: $sansfont;
    
        @media (min-width: 29em) {
            background: $darkBlue url("../img/asfalt-light.png") top left repeat;
            padding: .2em .4em;
            border-radius: 3px;
            color: $light;
            font-size: .8em;
            text-shadow: 1px 1px 1px $dark;
        }//29em breakpoint
    }
    
}//header