#mobileNav {
  margin: 0; padding: 0;
  list-style-type: none;
  li {
    border-bottom: 1px solid lighten($brown, 20);
  }
  a {
    display: block;
    padding: .8em 0;
    background: $brown;
    color: $light;
    font-family: $sansfont2;
    font-size: .9em;
    text-align: center;
    text-decoration: none;
    &:hover {
      background: darken($brown, 5);
    }
    &:active {
      background: lighten($brown, 20);
    }
  }
  br {display: none;}
}

.imgNav {
  $animSpeed: .5s;
  @include deviceBreakpoint(small) {
    &.squares {
      @include visuallyhidden;
    }
  }
  
  @include deviceBreakpoint(mobile) {
    &.squares {
      margin: 2em (-$mobilePadding - 1%) 4em (-$mobilePadding - 1%);
    }
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @extend %clearfix;
  }
  &.stacked ul {
    padding: 0 12%;
    @include deviceBreakpoint(large) {
      padding: 0 13%;
    }
  }
  
  li {
    overflow: hidden;
  }
  
  &.stacked li {
    margin-top: 1em;
    -webkit-transform: translateZ(0); //fixes Chrome bug when pinning sidebar nav w/ ScrollMagic
    transition: $animSpeed transform;
  }
    &.stacked li:hover {
      transform: translateX(.5em);
    }
    &.stacked li.current {
      transform: translateX(.8em);
      
      &:hover {
        transform: translateX(.8em);
      }
      a {
        cursor: default;
      }
      a:before {
        filter: grayscale(0);
      }
      a:after {
        border-color: $brown;
      }
    }//li current
  
  &.squares li {
   width: 50%;
   float: left;
   margin: 0; padding: 0;
  }
  &.squares li:nth-child(3) {
    clear: left;
  }
  a {
    display: block;
    position: relative;
    padding-bottom: 53%;
    overflow: hidden;
  }
  span {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: $light;
    font-family: $sansfont2;
    font-size: .8em;
    transition: $animSpeed color;
    text-transform: lowercase;
    line-height: 1.5;
    @include textStroke($strokeColor: darken($darkBlue,10), $shadowSize: .06em .08em .2em);
  }
    a:hover span {
      color: $light;
    }
    
  a:before {
    content: " ";
    @extend %absFull;
    background-image: url("../img/nav-sprite.jpg");
    background-clip: padding-box;
    filter: blur(.7px) grayscale(0.5) brightness(0.9);
    background-repeat: no-repeat;
    background-size: 100% auto;
    transition: $animSpeed -webkit-filter;
  }
    &.stacked a:before {
      border: 2px solid $lightGreen;
      border-radius: $radiusDefault;
    }
    a:hover:before {
      filter: blur(0) grayscale(0) brightness(1);
    }
    a:active:before {
      filter: blur(0) grayscale(0) brightness(1);
    }
  //tints bg img
  a:after {
    content: " ";
    @extend %absFull;
    background-clip: padding-box;
    transition: $animSpeed border;
  }
    &.stacked a:after {
      border: 2px solid $brown;
      border-radius: $radiusDefault;
    }
    &.stacked a:hover:after {
      border: 2px solid $lightGreen;
    }
  
  
  
  li.questions a:before {
    background-position: 0 33.3%;
  }
  li.about a:before {
    background-position: 0 66.6%;
  }
  li.contact a:before {
    background-position: 0 100%;
  }
}